@{
    Layout = "_BaseLayout";
}

@section css{
    @RenderSection("css", required: false)
}
<vc:top-navbar></vc:top-navbar>
<div class="page-container">
    @RenderSection("head", required: false)
    <div class="site-content" id="site-content">
        @RenderBody()
    </div>
    <vc:copyright></vc:copyright>
</div>


@section js{
    @RenderSection("js", required: false)
}